<a href="https://colab.research.google.com/github/Jayaprakash1710/Porter-business-case/blob/main/Porter_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [5]:
data=pd.read_csv('/content/dataset.csv')

In [6]:
data.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners,total_outstanding_orders
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,df263d996281d984952c07998dc54358,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,f0ade77b43923b38237db569b016ba25,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,f0ade77b43923b38237db569b016ba25,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,f0ade77b43923b38237db569b016ba25,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,f0ade77b43923b38237db569b016ba25,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0

In [7]:
data.shape

(197428, 14)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   market_id                 196441 non-null  float64
 1   created_at                197428 non-null  object
 2   actual_delivery_time      197421 non-null  object
 3   store_id                  197428 non-null  object
 4   store_primary_category    192668 non-null  object
 5   order_protocol            196433 non-null  float64
 6   total_items               197428 non-null  int64
 7   subtotal                  197428 non-null  int64
 8   num_distinct_items        197428 non-null  int64
 9   min_item_price            197428 non-null  int64
 10  max_item_price            197428 non-null  int64
 11  total_onshift_partners    181166 non-null  float64
 12  total_busy_partners       181166 non-null  float64
 13  total_outstanding_orders  181166 non-null  float64
dtypes: float64(5), int64(5), object(4)
memory usage: 21.1+ MB

In [9]:
data.isnull().sum()

market_id                     987
created_at                      0
actual_delivery_time            7
store_id                        0
store_primary_category       4760
order_protocol                995
total_items                     0
subtotal                        0
num_distinct_items              0
min_item_price                  0
max_item_price                  0
total_onshift_partners      16262
total_busy_partners         16262
total_outstanding_orders    16262
dtype: int64

In [20]:
data.isnull().sum()/len(data)*100

market_id                   0.499929
created_at                  0.000000
actual_delivery_time        0.003546
store_id                    0.000000
store_primary_category      2.411006
order_protocol              0.503981
total_items                 0.000000
subtotal                    0.000000
num_distinct_items          0.000000
min_item_price              0.000000
max_item_price              0.000000
total_onshift_partners      8.236927
total_busy_partners         8.236927
total_outstanding_orders    8.236927
dtype: float64

In [14]:
data['market_id'].unique()

array([ 1.,  2.,  3.,  4., nan,  5.,  6.])

In [15]:
data['store_id'].unique()

array(['df263d996281d984952c07998dc54358',
       'f0ade77b43923b38237db569b016ba25',
       'ef1e491a766ce3127556063d49bc2f98', ...,
       'ce78d1da254c0843eb23951ae077ff5f',
       'a914ecef9c12ffdb9bede64bb703d877',
       'c81e155d85dae5430a8cee6f2242e82c'], dtype=object)

In [18]:
data.loc[data['store_id']=='f0ade77b43923b38237db569b016ba25']

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners,total_outstanding_orders
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,f0ade77b43923b38237db569b016ba25,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,f0ade77b43923b38237db569b016ba25,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,f0ade77b43923b38237db569b016ba25,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,f0ade77b43923b38237db569b016ba25,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0
5,3.0,2015-01-28 20:30:38,2015-01-28 21:08:58,f0ade77b43923b38237db569b016ba25,NaN,1.0,3,5000,3,1500,1900,2.0,2.0,2.0
6,3.0,2015-01-31 02:16:36,2015-01-31 02:43:00,f0ade77b43923b38237db569b016ba25,NaN,1.0,2,3900,2,1200,2700,10.0,9.0,9.0
7,3.0,2015-02-12 03:03:35,2015-02-12 03:36:20,f0ade77b43923b38237db569b016ba25,NaN,1.0,4,4850,4,750,1800,7.0,8.0,7.0
8,2.0,2015-02-16 00:11:35,2015-02-16 00:38:01,f0ade77b43923b38237db569b016ba25,indian,3.0,4,4771,3,820,1604,8.0,6.0,18.0
9,3.0,2015-02-18 01:15:45,2015-02-18 02:08:57,f0ade77b43923b38237db569b016ba25,NaN,1.0,2,2100,2,700,1200,2.0,2.0,2.0
10,3.0,2015-02-02 19:22:53,2015-02-02 20:09:19,f0ade77b43923b38237db569b016ba25,NaN,4.0,4,4300,4,1200,1500,1.0,1.0,1.0
11,3.0,2015-02-16 04:19:33,2015-02-16 06:34:00,f0ade77b43923b38237db569b016ba25,NaN,1.0,2,2200,2,600,1600,3.0,3.0,4.0
12,3.0,2015-02-07 01:34:31,2015-02-07 02:17:14,f0ade77b43923b38237db569b016ba25,NaN,1.0,1,1900,1,1900,1900,6.0,3.0,3.0
13,3.0,2015-01-25 01:50:51,2015-01-25 02:28:53,f0ade77b43923b38237db569b016ba25,NaN,4.0,4,4986,4,699,2362,16.0,6.0,9.0

In [21]:
data.loc[data['store_primary_category'].isnull()]

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners,total_outstanding_orders
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,f0ade77b43923b38237db569b016ba25,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,f0ade77b43923b38237db569b016ba25,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,f0ade77b43923b38237db569b016ba25,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0
5,3.0,2015-01-28 20:30:38,2015-01-28 21:08:58,f0ade77b43923b38237db569b016ba25,NaN,1.0,3,5000,3,1500,1900,2.0,2.0,2.0
6,3.0,2015-01-31 02:16:36,2015-01-31 02:43:00,f0ade77b43923b38237db569b016ba25,NaN,1.0,2,3900,2,1200,2700,10.0,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197210,1.0,2015-02-15 02:17:39,2015-02-15 03:21:16,77c493ec14246d748db3ee8fce0092db,NaN,1.0,3,2800,3,700,1400,24.0,22.0,25.0
197211,1.0,2015-02-03 01:58:27,2015-02-03 02:32:07,77c493ec14246d748db3ee8fce0092db,NaN,1.0,2,1400,2,700,700,22.0,22.0,24.0
197212,1.0,2015-02-12 02:42:13,2015-02-12 03:39:29,77c493ec14246d748db3ee8fce0092db,NaN,1.0,5,2800,5,300,700,28.0,28.0,21.0
197259,NaN,2015-02-10 01:32:37,2015-02-10 02:02:09,959776b99b006e5785c3a3364949ce47,NaN,NaN,1,849,1,849,849,25.0,13.0,20.0
197363,1.0,2015-02-12 20:44:22,2015-02-12 21:30:44,a914ecef9c12ffdb9bede64bb703d877,NaN,NaN,2,690,2,345,345,25.0,28.0,35.0

In [22]:
data.loc[data['store_id']=='959776b99b006e5785c3a3364949ce47']

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners,total_outstanding_orders
197213,5.0,2015-01-24 05:54:01,2015-01-24 06:40:26,959776b99b006e5785c3a3364949ce47,italian,5.0,2,1698,2,849,849,17.0,8.0,7.0
197214,5.0,2015-02-11 03:54:14,2015-02-11 04:32:18,959776b99b006e5785c3a3364949ce47,italian,5.0,2,1608,2,759,849,52.0,36.0,53.0
197215,5.0,2015-02-14 21:52:27,2015-02-14 22:36:22,959776b99b006e5785c3a3364949ce47,italian,5.0,1,799,1,799,799,20.0,20.0,26.0
197216,5.0,2015-02-07 05:24:58,2015-02-07 05:55:18,959776b99b006e5785c3a3364949ce47,italian,5.0,1,849,1,849,849,31.0,30.0,34.0
197217,5.0,2015-02-14 02:19:01,2015-02-14 03:13:52,959776b99b006e5785c3a3364949ce47,italian,5.0,2,1698,2,849,849,49.0,43.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197285,5.0,2015-02-06 05:03:56,2015-02-06 05:24:50,959776b99b006e5785c3a3364949ce47,italian,5.0,1,699,1,699,699,37.0,17.0,16.0
197286,5.0,2015-01-24 02:24:26,2015-01-24 03:22:53,959776b99b006e5785c3a3364949ce47,italian,5.0,2,1358,2,659,699,42.0,35.0,52.0
197287,5.0,2015-01-28 02:28:16,2015-01-28 03:05:11,959776b99b006e5785c3a3364949ce47,italian,5.0,2,1498,2,649,849,36.0,30.0,37.0
197288,5.0,2015-01-31 02:57:23,2015-01-31 03:41:12,959776b99b006e5785c3a3364949ce47,italian,5.0,2,1298,2,499,799,57.0,39.0,69.0
197289,5.0,2015-02-17 02:07:37,2015-02-17 02:36:05,959776b99b006e5785c3a3364949ce47,italian,5.0,2,1084,2,235,849,47.0,43.0,50.0

In [25]:
data.loc[(data['store_id']=='a914ecef9c12ffdb9bede64bb703d877') & (data['store_primary_category'].isnull())]

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners,total_outstanding_orders
197363,1.0,2015-02-12 20:44:22,2015-02-12 21:30:44,a914ecef9c12ffdb9bede64bb703d877,NaN,NaN,2,690,2,345,345,25.0,28.0,35.0